<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMvc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring" />
          <element id="library" level="project" name="Spring MVC" />
          <element id="library" level="project" name="aopalliance-1.0" />
        </element>
      </element>
    </root>
  </artifact>
</component>