<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ljj.mapper.CenterDirMapper" >
  <resultMap id="BaseResultMap" type="ljj.pojo.CenterDir" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="URI" property="uri" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="fileCount" property="filecount" jdbcType="INTEGER" />
    <result column="spaceSize" property="spacesize" jdbcType="INTEGER" />
    <result column="lastModifiedTime" property="lastmodifiedtime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, URI, name, fileCount, spaceSize, lastModifiedTime, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ljj.pojo.CenterDirExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from center_dir
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from center_dir
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from center_dir
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ljj.pojo.CenterDirExample" >
    delete from center_dir
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ljj.pojo.CenterDir" >
    insert into center_dir (id, URI, name, 
      fileCount, spaceSize, lastModifiedTime, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{filecount,jdbcType=INTEGER}, #{spacesize,jdbcType=INTEGER}, #{lastmodifiedtime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ljj.pojo.CenterDir" >
    insert into center_dir
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uri != null" >
        URI,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="filecount != null" >
        fileCount,
      </if>
      <if test="spacesize != null" >
        spaceSize,
      </if>
      <if test="lastmodifiedtime != null" >
        lastModifiedTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filecount != null" >
        #{filecount,jdbcType=INTEGER},
      </if>
      <if test="spacesize != null" >
        #{spacesize,jdbcType=INTEGER},
      </if>
      <if test="lastmodifiedtime != null" >
        #{lastmodifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ljj.pojo.CenterDirExample" resultType="java.lang.Integer" >
    select count(*) from center_dir
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update center_dir
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uri != null" >
        URI = #{record.uri,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.filecount != null" >
        fileCount = #{record.filecount,jdbcType=INTEGER},
      </if>
      <if test="record.spacesize != null" >
        spaceSize = #{record.spacesize,jdbcType=INTEGER},
      </if>
      <if test="record.lastmodifiedtime != null" >
        lastModifiedTime = #{record.lastmodifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update center_dir
    set id = #{record.id,jdbcType=INTEGER},
      URI = #{record.uri,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      fileCount = #{record.filecount,jdbcType=INTEGER},
      spaceSize = #{record.spacesize,jdbcType=INTEGER},
      lastModifiedTime = #{record.lastmodifiedtime,jdbcType=TIMESTAMP},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ljj.pojo.CenterDir" >
    update center_dir
    <set >
      <if test="uri != null" >
        URI = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filecount != null" >
        fileCount = #{filecount,jdbcType=INTEGER},
      </if>
      <if test="spacesize != null" >
        spaceSize = #{spacesize,jdbcType=INTEGER},
      </if>
      <if test="lastmodifiedtime != null" >
        lastModifiedTime = #{lastmodifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ljj.pojo.CenterDir" >
    update center_dir
    set URI = #{uri,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      fileCount = #{filecount,jdbcType=INTEGER},
      spaceSize = #{spacesize,jdbcType=INTEGER},
      lastModifiedTime = #{lastmodifiedtime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>